
.idea/vcs.xml
.idea/workspace.xml
crm_l/.ipynb_checkpoints/__init__-checkpoint.py
crm_l/.ipynb_checkpoints/__manifest__-checkpoint.py
crm_l/data/.ipynb_checkpoints/data-checkpoint.xml
crm_l/models/.ipynb_checkpoints/__init__-checkpoint.py
crm_l/views/.ipynb_checkpoints/views-checkpoint.xml
