.slae_line_edit o_list_view o_list_optional_columns [data-name="product_id"] {
    width: 300px !important;
}
.slae_line_edit o_list_view o_list_optional_columns [data-name="name"] {
    width: 300px !important;
}
.slae_line_edit o_list_view o_list_optional_columns [data-name="product_uom_qty"] {
    width: 93px !important;
}


.slae_line_edit o_list_view o_list_optional_columns [data-name="default_code_product"] {
    width: 300px !important;
}
.slae_line_edit o_list_view o_list_optional_columns [data-name="codigo_cliente"] {
    width: 300px !important;
}
.slae_line_edit o_list_view o_list_optional_columns [data-name="pedido_cliente] {
    width: 300px !important;
}
.slae_line_edit o_list_view o_list_optional_columns [data-name="codigo_alterno"] {
    width: 300px !important;
}
.slae_line_edit o_list_view o_list_optional_columns [data-name="fecha_programada"] {
    width: 300px !important;
}
.slae_line_edit o_list_view o_list_optional_columns [data-name="cantidad_reservada"] {
    width: 300px !important;
}
