.slae_line_edit {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.slae_line_edit table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.slae_line_edit table th, .slae_line_edit table td {
    padding: 12px 15px;
}

.slae_line_edit table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.slae_line_edit table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.slae_line_edit table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.slae_line_edit table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.slae_line_edit table thead > tr > th {
    max-width: 500px !important;
    width: 500px !important;
    text-align: center;
}
.slae_line_edit table thead > tr > th:nth-child(1) {
    max-width: 50px !important;
    width: 50px !important;
    text-align: center;
}